<section class="thirteen columns">
    <h1>About</h1>
    <article>
        <header>
            <h1>Ruby / Ruby on Rails Developer</h1>
            <span>Current location: <address>Moscow, Russia</address>. Ready to relocate.</span>
        </header>
        <p>Good team player. Love photography and action sports.</p>

        <p>In web development from 2008. Migrated from PHP to Ruby.<br>
          From 2009 to 2015 didn't work as developer, was engaged
          in entrepreneurship (photographer, ceo of photography studio).</p>

        <p>Key skills: Ruby, Ruby on Rails, Design patterns (MVC, SOLID,
          DDD and other scary abbreviations), Databases (MySQL, PostgreSQL),
          Linux administration (Debian/Ubuntu/Gentoo, Nginx, Apache, etc)<br>
          Know of: Docker, distributed systems, NoSQL.</p>
    </article>
</section>
