<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Specialist</h1>
            <span>Omsk State University</span>
            <span><address>Omsk, Russia</address><time>2007 &ndash; 2011</time></span>
        </header>
        <p>
            <em>Faculty of Culture and Arts<br>
              Manager of Cinema, Photography and Video Arts Studio; Teacher.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Specialist (unfinished)</h1>
            <span>Omsk State University</span>
            <span><address>Omsk, Russia</address><time>2005 &ndash; 2007</time></span>
        </header>
        <p>
            <em>Faculty of Computer Science<br>
              Computers, Computer Systems and Networks</em>
        </p>
    </article>
</section>
