<section class="thirteen columns">
  <h1>Projects</h1>
  <article>
    <header>
      <h1><a href="http://motor.ru">Motor.ru</a></h1>
      <span><address>Moscow, Russia</address><time>Jun 2016 &ndash; current</time></span>
    </header>
    <p>Backend developing and support.</p>
    <p>Ruby on Rails, CQRS, PostgreSQL, MongoDB, Highload</p>
  </article>
  <article>
    <header>
      <h1><a href="http://weekend.rambler.ru">Rambler / Weekend</a></h1>
      <span><address>Moscow, Russia</address><time>Apr 2016 &ndash; current</time></span>
    </header>
    <p>Backend developing and support.</p>
    <p>Ruby on Rails, CQRS, PostgreSQL, MongoDB, Highload</p>
  </article>
  <article>
    <header>
      <h1><a href="https://github.com/slim-template/sliq">Sliq (Liquid integration for Slim template) contribution</a></h1>
      <span><address>Moscow, Russia</address><time>Mar 2016</time></span>
    </header>
    <p>Updating Sliq gem to next version of Slim template and Liquid engine.</p>
  </article>
  <article>
    <header>
      <h1><a href="https://github.com/dmitryzuev/blogapi">Test Blog JSON API</a></h1>
      <span><address>St Petersburg, Russia</address><time>Feb 2016</time></span>
    </header>
    <p>Test project. Shows how I can handle uneasy requests to PostgreSQL database.</p>
  </article>
  <article>
    <header>
      <h1><a href="https://github.com/dmitryzuev/omskunderground">Omsk Underground</a></h1>
      <span><address>Moscow, Russia</address><time>Jan 2016 &ndash; Feb 2016</time></span>
    </header>
    <p>Fun project about Omsk Underground System, which is under development for more than 20 years.</p>
  </article>
  <article>
    <header>
      <h1>Nikon School management automation system</h1>
      <span><address>Moscow, Russia</address><time>Oct 2015 &ndash; Mar 2016</time></span>
    </header>
    <p>Backend application, which handles report generation, students segmentation,
      email marketing campaigns, schedule generation.</p>
  </article>
  <article>
    <header>
      <h1><a href="http://skillgrid.ru/">SkillGrid website &amp; automation system</a></h1>
      <span><address>Moscow, Russia</address><time>Sep 2015 &ndash; Oct 2015</time></span>
    </header>
    <p>During internship at SkillGrid training program I was part of a team
      responsible for building interns website and interns edu-flow automation system.</p>
  </article>
  <article>
    <header>
      <h1>MyWed (international photographers website) parsing and rating analytics</h1>
      <span><address>Moscow, Russia</address><time>Aug 2014 &ndash; Nov 2014</time></span>
    </header>
    <p>Some time ago one of the most popular websites for wedding photographers hadn't feature to check your current position or to look at your progress, and I decided to make it possible.</p>
    <p>My App had parsed about 30000 photographers on every day basis, stored their current rating and built their rating progress analytics.</p>
    <p>Along with web app, I made extensions for Chrome, Safari and Firefox browsers, which had integrated into MyWed website to provide better experience.</p>
    <p>After some time MyWed had changed their core and design, and now they have some of my features.</p>
    <p>I decided to stop developing this project, and it is no longer maintained.</p>
  </article>
</section>
