<section class="thirteen columns">
  <h1>Projects</h1>
  <article>
    <header>
      <h1><a href="https://github.com/dmitryzuev/blogapi">Test Blog JSON API</a></h1>
      <span><address>St Petersburg, Russia</address><time>Feb 2016</time></span>
    </header>
    <p>Test project. Shows how I can handle uneasy requests to PostgreSQL database.</p>
  </article>
  <article>
    <header>
      <h1><a href="https://github.com/dmitryzuev/omskunderground">Omsk Underground</a></h1>
      <span><address>Moscow, Russia</address><time>Jan 2016 &ndash; Feb 2016</time></span>
    </header>
    <p>Fun project about Omsk Underground System, which is under development for more than 20 years.</p>
  </article>
  <article>
    <header>
      <h1>Nikon School management automation system</h1>
      <span><address>Moscow, Russia</address><time>Oct 2015 &ndash; current</time></span>
    </header>
    <p>Backend application, which handles report generation, students segmentation,
      email marketing campaigns, schedule generation.</p>
  </article>
  <article>
    <header>
      <h1><a href="http://skillgrid.ru/">SkillGrid website &amp; automation system</a></h1>
      <span><address>Moscow, Russia</address><time>Sep 2015 &ndash; Oct 2015</time></span>
    </header>
    <p>During internship at SkillGrid training program I was part of a team
      responsible for building interns website and interns edu-flow automation system.</p>
  </article>
</section>
